<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /api/v0.7.0
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) /api/v0.7.0/index.php?$1 [L,QSA]
</IfModule>
